<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="project name">

    <groups>
        <run>
            <include  name="email"/>
        </run>
    </groups>

    <test name="Module 1">

        <classes>
            <class name="TestNGDemo.demos.ClassOne"/>

            <class name="TestNGDemo.demos.ClassTwo">
               <!-- <methods>
                    <include name="classTwoTest1"/>
                </methods>-->
            </class>

        </classes>
    </test>

    <test name="Module 2">
     <classes>
         <class name="TestNGDemo.demos.ClassThree"/>
     </classes>
    </test>

</suite>